body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #212121;
  line-height: 1.5;
  max-width: 1440px;
  max-height: 3300px;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 1.12px;
  text-align: center;
  color: #fff;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.72px;
  text-align: center;
  color: #2e2f42;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: #2e2f42;
}

p {
  letter-spacing: 0.64px;
  color: #434455;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

ul,
ol {
  list-style-type: none;
}

/* Header */
header {
  max-height: 72px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo-part-web {
  color: #4d5ae5;
}

.main-nav .link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.main-nav .link:hover,
.main-nav .link:active {
  color: #404bbf;
}

.main-nav .link:active {
  text-decoration: underline;
}
.contact-info .email-link,
.contact-info .phone-link {
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-info .email-link:hover,
.contact-info .phone-link:hover {
  letter-spacing: 0.02em;
  color: #404bbf;
}

/* Hero section */
.hero-section {
  background-color: #2e2f42;
}

.hero-section button {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.64px;
  color: #fff;
  cursor: pointer;
}

/* Feature section */

/* Team section */
.team {
  background-color: #f4f4fd;
}

.teammate-name {
  text-align: center;
}

.teammate-role {
  text-align: center;
}

/* Portfolio section */

/* Footer */
footer {
  background-color: #2e2f42;
}
footer .logo {
  color: #f4f4fd;
}
.footer-description {
  color: #f4f4fd;
}
