/* Підключення нормалізатора */
@import url('https://unpkg.com/modern-normalize/modern-normalize.css');

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #fff;
  max-width: 1440px;
  max-height: 3300px;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 1.12px;
  text-align: center;
  color: #fff;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

ol {
  list-style: none;
}

/* HEADER */
header {
  max-height: 72px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo-part-web {
  color: #4d5ae5;
}

.main-nav .link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contact-info a {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*Hero section*/
.hero-section {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
}

.hero-section button {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

/*Feature section*/

/*Team section*/
.team {
  background-color: #f4f4fd;
}

.card-content {
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 380px;
}

.teammate-name {
  text-align: center;
}

.teammate-role {
  text-align: center;
}

/*Portfolio section*/
.portfolio {
  width: 1128px;
  height: 1000px;
}

/* FOOTER */
footer {
  background-color: #2e2f42;
}
footer .logo {
  color: #f4f4fd;
}
.footer-description {
  color: #f4f4fd;
}
